/* .html{
    height: 100%;
    width: 100%;
}



.navbarContainer{
    display: flex;
    flex-direction: 'column';
    background-color: aquamarine;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.mainWrapper{
    display: flex;
    min-height: 90%;
    background-color: aliceblue;
}
 */
